<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<section class="section">
<h2 class="title">Comments</h2>

<template v-for="(item, index) in comments">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="content">
      <p>
        <strong>{{ item.author }}</strong>
        <br>
        {{ item.comment }}
        <br>
        <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
      </p>
    </div>
  </article>
</template>

<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea v-model="txt" class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-primary" @click="submitComment()">Post comment</button>
      </p>
    </div>
  </div>
</article>

</section>
</template>

<script>
import { request, GraphQLClient } from 'graphql-request'
var client = null

  export default {
    data: () => ({
      comments: null,
      txt: ''
    }),

    created() {
      this.fetchPost()
    },

    methods: {
      async submitComment() {
        if (this.txt !== '' && app.jwt) {
	  client = new GraphQLClient('graphql', {
	    headers: {
	      Authorization: 'Bearer ' + app.jwt,
	    }
	  })
	  const query = `mutation ($pid: ID!, $parent: ID!, $comment: String!) {
	    createComment(postId: $pid, parent: $parent, comment: $comment)
	  }`
	  const variables = {
	    pid: this.$route.params.id,
	    parent: null,
	    comment: this.txt
	  }
          var data = await client.request(query, variables)
	  console.log(data)
	  this.fetchPost()
	}
      },
      async fetchPost() {
        client = new GraphQLClient('graphql', { headers: {} })
	const query = `query ($pid: ID!, $depth: Int!) {
	  getCommentsAtDepth(postId: $pid, depth: $depth) {
	    id,
	    author,
	    comment,
	    parent
	  }
	}`
	const variables = {
	  pid: this.$route.params.id,
	  depth: 0
	}
	var temp = await client.request(query, variables)
        this.comments = temp.getCommentsAtDepth
	console.log(this.comments)
      },
    }
  }
</script>

