<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<div class="columns is-mobile is-vcentered" style="height: 80vh">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="username" type="text" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="password" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="buttons is-right">
          <span class="button is-primary is-large" @click="login()">Login</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Cookies from 'js-cookie';
import { request, GraphQLClient } from 'graphql-request'
const client = new GraphQLClient('graphql', { headers: {} })

  export default {
    data () {
      return {
        username: '',
        password: '',
      }
    },

    methods: {
      async login() {
        const query = `mutation ($u:String!, $p:String!) {
          getJWT(username: $u, password: $p)
        }`
        var variables = {
          u: this.username,
          p: this.password,
	}
        var v = await client.request(query, variables)
        app.jwt = v.getJWT
        console.log(v)
	Cookies.set('anancus', app.jwt, { expires: 1 })
	this.$router.push('/')
      }
    },
  }
</script>

