<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
  <div class="card">
    <div v-bind:class="{ 'card-content': !compact }">
      <div class="content">
      <div class="media">
        <div class="media-left" v-if="!post.selected" @click="upvotePost(post)">
            <p class="title icon fas fa-caret-up" v-bind:class="{ 'is-5': compact }"></p>
            <p class="subtitle" v-html="this.post.score"></p>
        </div>
        <div class="media-left" v-if="post.selected" @click="downvotePost(post)">
            <p class="title icon fas fa-caret-up" style="color: maroon" v-bind:class="{ 'is-5': compact }"></p>
            <p class="subtitle" style="color: maroon; font-weight: bold" v-html="this.post.score"></p>
        </div>
        <div class="media-content">
        <a v-bind:href="'/#/post/' + this.post.id">
	  <a class="title has-text-link is-4" v-html="this.post.title" v-bind:class="{ 'is-5': compact }" v-bind:href="this.post.url"></a>
	</a>
        <p class="subtitle" v-bind:class="{ 'is-6': compact }">
	<span v-html="this.post.url"></span></p>
        </div>
        <a v-bind:href="'/#/post/' + this.post.id">
          <div class="media-right">
            <p class="title icon fas fa-comment-alt" v-bind:class="{ 'is-5': compact }"></p>
            <p class="subtitle" v-html="this.post.score"></p>
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import { request, GraphQLClient } from 'graphql-request'
var client = null

  export default {
    props: [ 'post', 'compact' ],
    methods: {
      upvotePost(item) {
       if (app.jwt) {
         client = new GraphQLClient('graphql', {
           headers: {
             Authorization: 'Bearer ' + app.jwt,
           }
         })
          console.log(app.jwt)
         const query = `mutation ($id:ID!) {
           upvotePost(id: $id)
         }`
         const variables = {
           id: item.id,
         }
          client.request(query, variables).then(data => console.log(data))

          item.selected = true
         item.score = item.score + 1
       } else {
         this.$router.push('/login')
       }
      },
      downvotePost(item) {
       if (app.jwt) {
         client = new GraphQLClient('graphql', {
           headers: {
             Authorization: 'Bearer ' + app.jwt,
           }
         })
          console.log(app.jwt)
         const query = `mutation ($id:ID!) {
           downvotePost(id: $id)
         }`
         const variables = {
           id: item.id,
         }
          client.request(query, variables).then(data => console.log(data))

          item.selected = false
         item.score = item.score - 1
       } else {
         this.$router.push('/login')
       }
      },
    }
  }
</script>

