<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
  <span>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Privacy Policy
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">

        <article class="message">
          <div class="message-header">
            <p>What information do we collect?</p>
          </div>
          <div class="message-body">
            <p><strong>Basic account information:</strong> If you register on this server, you may be asked to enter a username, an e-mail address and a password. You may also enter additional profile information such as a display name and biography, and upload a profile picture and header image. The username, display name, biography, profile picture and header image are always listed publicly.</p>
            <p><strong>IPs and other metadata:</strong> When you log in, we record the IP address you log in from, as well as the name of your browser application. All the logged in sessions are available for your review and revocation in the settings. The latest IP address used is stored for up to 12 months. We also may retain server logs which include the IP address of every request to our server.</p>
          </div>
        </article>

        <article class="message">
          <div class="message-header">
            <p>How do we use your information?</p>
          </div>
          <div class="message-body">
            <p>To provide core functionality of Anancus.</p>
          </div>
        </article>

        <article class="message">
          <div class="message-header">
            <p>How do we protect your information?</p>
          </div>
          <div class="message-body">
            <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Among other things, your browser session, as well as the traffic between your applications and the API, are secured with SSL, and your password is hashed using a strong one-way algorithm. You may enable two-factor authentication to further secure access to your account.</p>
          </div>
        </article>

        <article class="message">
          <div class="message-header">
            <p>Limitation of Liability</p>
          </div>
          <div class="message-body">
Anancus is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Anancus is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
          </div>
        </article>

      </div>
    </section>
  </span>
</template>

