<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<div class="columns is-mobile is-vcentered" style="height: 80vh">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="oldpassword" type="password" placeholder="Old Password">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="newpassword" type="password" placeholder="New Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="newpasswordrepeat" type="password" placeholder="New Password (repeat)">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="buttons is-right">
          <span class="button is-primary is-large" @click="changePassword()">Change Password</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { request, GraphQLClient } from 'graphql-request'

var client = new GraphQLClient('graphql', {
  headers: {
    Authorization: 'Bearer ' + app.jwt,
  }
})

  export default {
    data: () => ({
      oldpassword: '',
      newpassword: '',
    }),

    methods: {
      async changePassword() {
	client = new GraphQLClient('graphql', {
	  headers: {
	    Authorization: 'Bearer ' + app.jwt,
	  }
	})
        console.log(app.jwt)
	const query = `mutation ($o:String!, $n:String!) {
	  changeUserPassword(oldpassword: $o, newpassword: $n)
	}`
	const variables = {
	  o: this.oldpassword,
	  n: this.newpassword,
	}
        client.request(query, variables).then(data => console.log(data))
      }
    }
  }
</script>

