<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<span>

<div class="section">
  <PostCardComponent v-bind:post="this.post" />
</div>

<div class="section">
  <CommentComponent />
</div>

</span>
</template>

<script>
import PostCardComponent from '@/components/PostCardComponent.vue';
import CommentComponent from '@/components/CommentComponent.vue';
import { request, GraphQLClient } from 'graphql-request'
var client = null

  export default {
    components: {
      PostCardComponent,
      CommentComponent
    },
    data: () => ({
      post: null
    }),

    created() {
      this.fetchPost()
    },

    methods: {
      async fetchPost() {
        client = new GraphQLClient('graphql', { headers: {} })
	const query = `query ($pid: ID!) {
	  getPostById(id: $pid) {
	    id,
	    author,
	    title,
	    url,
	    hashtag,
	    score
	  }
	}`
	const variables = {
	  pid: this.$route.params.id
	}
	var temp = await client.request(query, variables)
        this.post = temp.getPostById
	console.log(this.post)
      },
    }
  }
</script>

