<template>
  <section class="section">
    <div class="container">
      <NavigationDrawer />
      <TermsAndConditionsComponent />
    </div>
  </section>
</template>

<script>
import TermsAndConditionsComponent from '@/components/TermsAndConditionsComponent.vue';
import NavigationDrawer from '@/components/NavigationDrawer.vue';

export default {
  name: 'terms',
  components: {
    TermsAndConditionsComponent,
    NavigationDrawer,
  }
}
</script>
